.App {
  text-align: center;
  font-size: 100px;
  margin-top: 150px;
}

button {
  color: #fff;
  padding: 20px 40px;
  font-size: 24px;
}
.buttons {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.incr {
  background: green;
  border-color: green;
}
.decr {
  background: orange;
  border-color: orange;
}
.res {
  background: Red;
  border-color: Red;
}
